.queryArea {
	padding: 40px;
	background-color: white;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
	border-radius: 16px;
}

.inputWrapper {
	display: flex;
	flex-direction: column;
	gap: 5pt;
}

.cityInput {
	width: 256pt;
	padding: 4pt;
}

.submit {
	transition: all 0.3s ease-in-out;
	cursor: pointer;
	padding: 8px 12px;
	color: white;
	background-color: #4191fa;
	border: none;
}

.submit:hover {
	transform: scale(0.95);
	box-shadow: 0 0 16px rgb(0, 0, 0, 0.1);
}

.nestedWrapper {
	display: flex;
	flex-direction: row;
	gap: 4px;
}